{# funfield/templates/meganame.html.twig #}
<div>
  Prefix: {{ prefix_name }}</br>
  First: {{ first }}</br>
  Middle: {{ middle }}</br>
  Last: {{ last }}</br>
  Suffix: {{ suffix_name }}</br>
  Nickname: {{ nickname }}
</div>
